doctype html
html
    head
        link(rel='stylesheet', href="/css/style.css", type="text/css")
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Neucha&display=swap")
    body
        //- script.
        //-     let cookie;
        //-         if (document.cookie){
        //-             console.log("cookie " + document.cookie);
        //-             cookie = true;
        //-         }
        .container
            h1 The Shoe Shop 2
            .nav-bar
                a(href="/") Home
                a(href="#") Products
            let cookie = document.cookie ? true : false;
                if cookie
                    a(href="/login") Login/Sign Up
                else
                    a(href="/loginSignup") Login/Sign Up
            block content
                