extends loginSignup

block content2
    script.
        document.addEventListener("DOMContentLoaded", function(e) { 
            const loginTab = document.querySelector("#tab-login");
            const signupTab = document.querySelector("#tab-signup");
            
            loginTab.style.background = "white"
            signupTab.style.background = "rgb(228, 228, 228)";
        })
    if errors
        each error, i in errors
            div(class="danger") #{error.msg}  
    form#loginForm.forms(action='/user/login' method='POST' enctype='multipart/form-data')
        .form-row
        label Email: 
        input(type='text' name='email' required='')
        .form-row
        label Password: 
        input(type='password' name='pw' required='')
        input(type='submit' value='Submit!')